<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appalertagenero">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_alerta_g"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_alerta_g"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".ViolentometroActivity"></activity>

        <receiver
            android:name=".Broadcast.BotonazoReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".Servicios.ServicioWidget"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".PanicoWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/panico_widget_info" />
        </receiver>

        <service
            android:name=".Servicios.GenerarAlertaService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Servicios.GPSService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Servicios.ServicioNotificacion"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ConfiguracionActivity" />
        <activity android:name=".DirectorioActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".PerfilActivity" />

        <service
            android:name=".Servicios.FotografiaService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Servicios.AudioService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>